body {
 line-height: 1.5;
 min-height: 100vh;
}
.App {
  text-align: center;
} 
.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.storefront{
  display: block;
  height: 712px;
  background-image: url(https://s3-alpha-sig.figma.com/img/d9d4/43f9/aea74823f5e974463646bb382d27639e?Expires=1669593600&Signature=KUPgICOnai-xcWqEsRhPg-TcBjnJFIPAKjgcWpqkvJwYxt7YXPvkNJZ0361sG0QxnzdgFtN8CehIS5kqSbHAUXGZUJpIVHaRk62b9Qnnot1B7zaji6NiEC0Feh9G-WqAGBZmem9eh0EFYn~z5-o65pxMAMFcairKyquyXTAAvSusHeQu3oNdbMIroMQWHgCUtcZUOFAlrzx74-aE5x4pUaib6meMupmZ0BcbRSjSxF5H35zIqnOoFaTajuEbFmbTcxncRcDx3dRfRG7fXoyk7O91gdjEQ7bUDFSRJLHjSFFFwkXSya3ZH4lUUOsyidNQk9vyAU2vCj79WFgIcXNqLw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
  background-position: center;
  /* top: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0; */
  /* object-fit: contain; */
  /* max-height: 100%; */
}

.storefront h3{
  position: absolute;
  width: 165px;
  height: 70px;
  left: 165px;
  top: 522px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;

  color: #000000;
}
.App-header {
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 24px 80px;
gap: 32px;

width: 1728px;
/* height: 100px; */

background: #111827;
border-radius: 0px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
position: absolute;
  /* width: 1280px; */
  height: 2px; 
  left: 0px;
  top: 83px; 
  background: #5EDFDF;
}

.active {
  
  /* position: absolute; */

  width: 22px;
  height: 13px;
  left: 255px;
  top: 92px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 13px; 
/* identical to box height */
  color: #000000; 
}

.App-link {
  color: #61dafb;
}
.review-card img{
  height: 309px;
  left: 315px;
  top: 179px;
  }
.product-card img{
height: 309px;
left: 315px;
top: 179px;
}

.product-card {
  /* position: absolute; */
  margin: 1rem;
  /* identical to box height */
  color: #000000;
}

.w-6{
  background-position: -2px -42px;
  background-size: 512px 512px;
  background-repeat: no-repeat;
  height: 18px;
    width: 80px;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
