body {
  min-height: 100vh
}
.App {
  width: 100%;
  height: auto;
  background: #FFFFFF;
} 
.Topbar{
  position: absolute;
  left: 150px;
  top: 0;
}
.logo {
  position: absolute;
  width: 90px;
  height: auto;
  left: 210px;
  top: 15px;
}
.searchbar input{
  padding: 0 3.5rem 0 1rem;
  position: absolute;
  width: 350px;
  height: 36px;
  left: 360px;
  top: 28px;
  border-color: #5EDFDF;
  background: #F5F5F5;
  border-radius: 13px;
}
.searchbar input::placeholder{
  font-size: 16px;
}
.login{
  position: absolute;
  width: auto;
  height: 22px;
  left: 833px;
  top: 37px;
}
.signin{
  position: absolute;
  width:66px;
  left: 849px;
  top: 34px;
  padding: 9.5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  color: rgb(91, 90, 90);
  font-size: 17px;
  line-height: 13px;
}
.App-header {
  position: absolute;
width: 100%;
height: 32px;
left: 0px;
top: 83px;
font-family: 'Roboto';

  background: #5EDFDF;
  text-align: center;
margin: 0px 0 0 ;
padding: 10px 0;
}
.Menu{
  position: absolute;
  height: 13px;
  left: 255px;
  list-style: none;
  margin: 0 2px;
  padding: 0;
}
.active {
  /* position: relative; */
  display: inline-block;
   padding: 10px;
   color: black
}
a:visited {
  color: black
}
.storefront{
  display: block;
  background-position: center;
  background-image: url(https://s3-alpha-sig.figma.com/img/d9d4/43f9/aea74823f5e974463646bb382d27639e?Expires=1669593600&Signature=KUPgICOnai-xcWqEsRhPg-TcBjnJFIPAKjgcWpqkvJwYxt7YXPvkNJZ0361sG0QxnzdgFtN8CehIS5kqSbHAUXGZUJpIVHaRk62b9Qnnot1B7zaji6NiEC0Feh9G-WqAGBZmem9eh0EFYn~z5-o65pxMAMFcairKyquyXTAAvSusHeQu3oNdbMIroMQWHgCUtcZUOFAlrzx74-aE5x4pUaib6meMupmZ0BcbRSjSxF5H35zIqnOoFaTajuEbFmbTcxncRcDx3dRfRG7fXoyk7O91gdjEQ7bUDFSRJLHjSFFFwkXSya3ZH4lUUOsyidNQk9vyAU2vCj79WFgIcXNqLw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
  position: absolute;
  width: 100%;
  height: 654px;
  left: 0px;
  top: 135px;
}

.storefront h3{
  position: absolute;
  width: 165px;
  left: 165px;
  top: 400px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}
.signin-page{
  position: absolute;
  width: 100%;
  height: 719px;
  left: 0px;
  top: 135px;
  background: #F2FFFF;
}
.signin-box{
  position: absolute;
  width: 460px;
  height: 360px;
  left: 490px;
  top: 180px;
  background: #FFFFFF;
}
h1 {
  position: absolute;
  left: 510px;
  top: 53px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
}

.create-one{
  position: absolute;
  width: 214px;
  height: 19px;
  left: 603px;
  top: 255px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.create-one a{
  color:red;
}
.email{
  position: relative;
  width: 53px;
  height: 10px;
  left: 33px;
  top: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.email-input{
  box-sizing: border-box;
  position: relative;
  width: 395px;
  height: 44px;
  left: -25px;
  top: 77px;
  background: #FFFFFF;
  border: 1px solid #F73C52;
}
.password{
  position: relative;
  width: 53px;
  height: 10px;
  left: 33px;
  top: 117px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.password-input{
  box-sizing: border-box;
  position: relative;
  width: 395px;
  height: 44px;
  left: 33px;
  top: 135px;
  background: #FFFFFF;
  border: 1px solid #F73C52;
}
button[type="submit"]{
  position: absolute;
  width: 395px;
  height: 44px;
  left: 33px;
  top: 280px;
  border-color:rgb(146, 144, 144);
  background: #A4A4A4;
}
#create-h1{
  position: absolute;
  width: 100%;
  /* height: 719px; */
  left: 530px;
  top: 49px;
  background: #F2FFFF;
}
#already {
  position: absolute;
  left: 566px;
  top: 111px;
}
#already a{
  color:red;
}
.username{
  position: relative;
  width: 53px;
  height: 10px;
  left: 33px;
  top: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.username-input{
  box-sizing: border-box;
  position: relative;
  width: 395px;
  height: 44px;
  left: 33px;
  top: 33px;
  background: #FFFFFF;
  border: 1px solid #F73C52;
}
.e-mail{
  position: relative;
  width: 53px;
  height: 10px;
  left: -366px;
  top: 80px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.e-mail-input{
  box-sizing: border-box;
  position: relative;
  width: 395px;
  height: 44px;
  left: 33px;
  top: 70px;
  background: #FFFFFF;
  border: 1px solid #F73C52;
}
.password-create{
  position: relative;
  width: 53px;
  height: 10px;
  left: 33px;
  top: 85px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.password-create-input{
  box-sizing: border-box;
  position: relative;
  width: 395px;
  height: 44px;
  left: 33px;
  top: 85px;
  background: #FFFFFF;
  border: 1px solid #F73C52;
}
ul{
  position: relative;
  width: 222px;
  height: 10px;
  top: 180px;
  font-style: bold;
  line-height: 20px
}
.skincare{
  position: absolute;
  top: 160px;
  left: 33px;
}

.review-card img{
  height: 309px;
  left: 315px;
  top: 179px;
  }
.products-cards{
  position: absolute;
  border: 1px solid black;
  margin: 1rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
  display:flex; 
  flex-direction:row;
  top: 199px;
}
.product{
  width: 300px;
  object-fit: contain;
  object-position: top;
  border-width: 2px;
  border-style: solid;
  border-color: red;
  left: 315px;
  top: 179px;
  display: inline-block;
  border: 1px solid red;
  padding: 0.5rem 0.5rem;
  vertical-align: middle;
  height: 480px;
}
.product-picture{
  width: 300px;
  margin-bottom: 0;
}
.product-brand{
  width: 300px;
  margin-top: 0;
  margin-bottom: 5px;
}
.product-name{
  width: 300px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
}
.product-category{
  margin-top: 0;
  width: 300px;
}
.product-rating{
  width: 300px;
  margin-top: 0;
}
.product-price{
  width: 300px;
  margin-bottom: 0px;
}


.w-6{
  background-position: -2px -42px;
  background-size: 512px 512px;
  background-repeat: no-repeat;
  height: 18px;
    width: 80px;

}

