body {
 line-height: 1.5;
  min-height: 100vh
}
.App {
  width: 100%;
  height: auto;
  background: #FFFFFF;
} 
.Topbar{
  position: absolute;
  left: 150px;
  top: 0;
}
.logo {
  position: absolute;
  width: 90px;
  height: auto;
  left: 210px;
  top: 15px;
}
.searchbar input{
  padding: 0 3.5rem 0 1rem;
  position: absolute;
  width: 350px;
  height: 36px;
  left: 360px;
  top: 28px;
  border-color: #5EDFDF;
  background: #F5F5F5;
  border-radius: 13px;
}
.searchbar input::placeholder{
  font-size: 16px;
}
.login{
  position: absolute;
  width: auto;
  height: 22px;
  left: 833px;
  top: 37px;
}
.signin{
  position: absolute;
  width:66px;
  left: 849px;
  top: 34px;
  padding: 9.5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  color: rgb(91, 90, 90);
  font-size: 17px;
  line-height: 13px;
}
.App-header {
  position: absolute;
width: 100%;
height: 32px;
left: 0px;
top: 83px;
font-family: 'Roboto';

  background: #5EDFDF;
  text-align: center;
margin: 0px 0 0 ;
padding: 10px 0;
}
.Menu{
  position: absolute;
  height: 13px;
  left: 255px;
  list-style: none;
  margin: 0 2px;
  padding: 0;
}
.active {
  /* position: relative; */
  display: inline-block;
   padding: 10px;
   color: black
}
a:visited {
  color: black
}
.storefront{
  display: block;
  background-position: center;
  background-image: url(https://s3-alpha-sig.figma.com/img/d9d4/43f9/aea74823f5e974463646bb382d27639e?Expires=1669593600&Signature=KUPgICOnai-xcWqEsRhPg-TcBjnJFIPAKjgcWpqkvJwYxt7YXPvkNJZ0361sG0QxnzdgFtN8CehIS5kqSbHAUXGZUJpIVHaRk62b9Qnnot1B7zaji6NiEC0Feh9G-WqAGBZmem9eh0EFYn~z5-o65pxMAMFcairKyquyXTAAvSusHeQu3oNdbMIroMQWHgCUtcZUOFAlrzx74-aE5x4pUaib6meMupmZ0BcbRSjSxF5H35zIqnOoFaTajuEbFmbTcxncRcDx3dRfRG7fXoyk7O91gdjEQ7bUDFSRJLHjSFFFwkXSya3ZH4lUUOsyidNQk9vyAU2vCj79WFgIcXNqLw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
  position: absolute;
  width: 100%;
  height: 654px;
  left: 0px;
  top: 135px;
}

.storefront h3{
  position: absolute;
  width: 165px;
  left: 165px;
  top: 400px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}

.review-card img{
  height: 309px;
  left: 315px;
  top: 179px;
  }
.product-card img{
height: 309px;
left: 315px;
top: 179px;
}

.product-card {
  /* position: absolute; */
  margin: 1rem;
  /* identical to box height */
  color: #000000;
}

.w-6{
  background-position: -2px -42px;
  background-size: 512px 512px;
  background-repeat: no-repeat;
  height: 18px;
    width: 80px;

}

